<div class="wrapper">
    <mat-list class="side-nav">
        <a class="side-nav__item" role="listitem" mat-list-item routerlinkactive="docs-component-viewer-sidenav-item-selected">Noter</a>
        <a class="side-nav__item" role="listitem" mat-list-item routerlinkactive="docs-component-viewer-sidenav-item-selected">Creator</a>
        <a class="side-nav__item" role="listitem" mat-list-item routerlinkactive="docs-component-viewer-sidenav-item-selected">Tutorials</a>
        <a class="side-nav__item" role="listitem" mat-list-item routerlinkactive="docs-component-viewer-sidenav-item-selected">Docs</a>      
    </mat-list>
</div>

