.wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.side-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    min-width:20%;
    max-width:20%;
    min-height: 100%;
    box-shadow: 0 0 5px 5px #80808065;
    color: #505050;

    &__item{
        color: #505050;
        width: 100%;

        &:hover{
            background: #f3f3f3;
        }
    }
}