<div class="wrapper">
    <mat-list class="side-nav">
        <a class="side-nav__item" role="listitem" mat-list-item (click)="goTo('noter')">Noter</a>
        <a class="side-nav__item" role="listitem" mat-list-item (click)="goTo('creators')">Creator</a>
        <a class="side-nav__item" role="listitem" mat-list-item (click)="goTo('tutorials')">Tutorials</a>
        <a class="side-nav__item" role="listitem" mat-list-item (click)="goTo('documentacion')" >Docs</a>      
    </mat-list>
    <app-component-viwer class="content-viwer"></app-component-viwer>
</div>

