<div class="footer">
    <div class="thumbnail"><img src="favicon.ico" alt="" class="image"></div>
    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac elementum metus. Vestibulum cursus est massa, et mollis lacus auctor at. Quisque porta eu tellus vitae suscipit. Phasellus aliquam vestibulum erat, ut sodales nisl facilisis egestas. Sed urna turpis, sagittis eget est at, aliquet malesuada libero. Praesent malesuada dui non dapibus elementum. Etiam sed magna eu nunc consequat laoreet. Curabitur sit amet sem in quam vestibulum blandit ut non erat. Cras id arcu erat. Donec a nisl sed lectus rhoncus finibus.
    </div>
</div>
