::root{
    --red-button: #ff1100;

    --font-size-medium:18px;
}

.topnav{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 5px 5px #80808065;

    &--dark-mode{
        background-color: #222222;
        color: #fff;
    }

    &__section{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: .5em;
        width: 100%;

        &--jc-end{
            justify-content: end;
        }
        &--jc-center{
            justify-content: center;
        }
    }
    &__button{
        font-size: 18px;
        text-align: center;
        transition: all 0.3s;

        &--variant-2{
            text-decoration: none;
            font-size: 22px;
        }
    }

    .user{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: .5em;

        &__name{
            width: fit-content;
        }

        &__avatar{
            width: auto;
            display: flex;
            align-items: center;
            .image{
                width: 50px;
                clip-path: circle(50%);
            }
        }
    }
}

.zoom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    font-weight: bold;
    font-size: 20px;

    &__interactive{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    &__icon{
        font-size: 25px;
        align-self: center;
    }
}