<div class="topnav">
  <div class="topnav__section">
    <div class="topnav__button">List</div>
    <div class="topnav__button">Board</div>
    <div class="topnav__button">Note</div>
  </div>
  <div class="topnav__section topnav__section--jc-center">
    <div class="zoom">
      <span class="zoom__label">zoom: </span>
      <div class="zoom__interactive">
        <span class="zoom__buttom"><mat-icon class="zoom__icon" aria-hidden="false">zoom_in</mat-icon></span>
        <span class="zoom__status">50%</span>
        <span class="zoom__buttom"><mat-icon class="zoom__icon" aria-hidden="false">zoom_out</mat-icon></span>
      </div>
    </div>
  </div>
  <div class="topnav__section topnav__section--jc-end">
    <div class="user">
      <div class="user__avatar"><img src="./assets/avatar.png" alt="" class="image"></div>
      <span class="user__name"><a href="" class="topnav__button topnav__button--variant-2">Lorem Ipsum</a></span>
    </div>
  </div>
</div>